.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 0;
  position: relative;

  &--actions {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &--link {
    color: white;
    cursor: pointer;
    text-decoration: none;
  }

  &--filter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    &__icon {
      height: 0.8rem;
    }

    &__text {
      font-size: 1rem;
      color: white;
    }
  }
}
